@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

#barra{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px ;
    height: 90px;
}

body{
    background-color: #F1FAA2;
    margin: 0;
    padding: 0;
}

.botoes{
    border-radius: 15px;
    border: none;
    background: #204B13;
    width: 100px;
    height: 30px;
    margin: 5px;
}

button{
    color: white;
    font-family: "Dosis";
}

.botoes2{
    margin-right: 25px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

